{% extends 'base-admin.html' %}


{% block imports %}
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/form/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/demo_edit_profile.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap/bootstrap-file-input.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/cropper/cropper.min.js') }}"></script>

{% endblock imports %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        <li><a href="#">Conta</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-cogs"></span> Editar perfil</h2>
    </div>
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
                    
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    Atualize suas informações!
                </div>                            
            </div>
        </div>     
        
        <div class="row">                        
            <div class="col-md-4 col-sm-4 col-xs-5">
                
                <form action="#" class="form-horizontal">
                <div class="panel panel-default">                                
                    <div class="panel-body">
                        <h3><span class="fa fa-user"></span> Fulano de Tal</h3>
                        <div class="text-center" id="user_image">
                            <img class="img-thumbnail"src="{{ url_for('static', filename='assets/images/users/user2.jpg') }}">
                        </div>                                    
                    </div>
                    <div class="panel-body form-group-separated">
                        
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="file" class="fileinput btn-primary btn-block btn-rounded col-md-12" name="file" id="cp_photo" data-filename-placement="inside" title="Trocar foto"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-3 col-xs-5 control-label">ID</label>
                            <div class="col-md-9 col-xs-7">
                                <!-- <input type="text" value="1234" class="form-control" disabled/> -->
                                <span class="control-label text-left text-muted">1234-ABC-567</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-3 col-xs-5 control-label">Email</label>
                            <div class="col-md-9 col-xs-7">
                                <!-- <input type="text" value="1234" class="form-control" disabled/> -->
                                <span class="control-label text-left text-muted">fulanodetal@email.com</span>
                            </div>
                        </div>
                        
                        <div class="form-group">                                        
                            <div class="col-md-12 col-xs-12">
                                <a href="#" class="btn btn-danger btn-block btn-rounded" data-toggle="modal" data-target="#modal_change_password">Mudar senha</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                </form>
                
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7">
                <form action="#" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3><span class="fa fa-pencil"></span> Perfil</h3>
                        <p>Essas informações serão exibidas nas informações sobre o vendedor.</p>
                    </div>
                    <div class="panel-body form-group-separated">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-5 control-label">Nome</label>
                            <div class="col-md-9 col-xs-7">
                                <input type="text" value="Fulano" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-5 control-label">Sobrenome</label>
                            <div class="col-md-9 col-xs-7">
                                <input type="text" value="de Tal" class="form-control" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-5 control-label">Localização</label>
                            <div class="col-md-9 col-xs-7">
                                <select class="form-control">
                                    <option>São Paulo</option>
                                    <option>Rio de Janeiro</option>
                                    <option>Minas Gerais</option>
                                    <option>Fortaleza</option>
                                </select>
                            </div>
                        </div>                                       
                        <div class="form-group">
                            <div class="col-md-12 col-xs-5">
                                <button class="btn btn-primary btn-rounded pull-right">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>  
    <!-- END PAGE CONTENT WRAPPER -->
    <div class="modal animated fadeIn" id="modal_change_password" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="smallModalHead">Mudar senha</h4>
                </div>
                <div class="modal-body">
                    <p>Redefina sua senha aqui mesmo. Insira, primeiro, sua senha antiga, depois a nova. Depois, confirme a nova senha.</p>
                </div>
                <div class="modal-body form-horizontal form-group-separated">                        
                    <div class="form-group">
                        <label class="col-md-3 control-label">Old Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="old_password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">New Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="new_password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Repeat New</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="re_password"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Proccess</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>                                              
</div>

{% endblock content %}