	{% extends "base-ecommerce.html" %}

	{% block title %}Bookshifter{% endblock title %}

	{% block content %}

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Bookshifter</p>
							<!-- <h1>Descubra Tesouros Literários em Nosso Sebo Virtual!</h1> -->
							<h1>Onde os livros encontram <br>novos leitores</h1>
							<!-- 
								<div class="hero-btns">
									<a href="{{url_for('ecommerce.shop')}}" class="boxed-btn">Ver mais</a>
									<a href="contact.html" class="bordered-btn">Contato</a>
								</div>
							-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-map-marker-alt"></i>
						</div>
						<div class="content">
							<h3>Locais de retirada</h3>
							<p>Confira o local das Fatecs</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Suporte técnico</h3>
							<p>Dias úteis das 9h às 16h</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="far fa-handshake"></i>
						</div>
						<div class="content">
							<h3>Doe mais</h3>
							<p>Incentive a leitura!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<a href="http://localhost:8000/shop"><h3><span class="orange-text">Nossa</span> Biblioteca</h3></a>
						<p>Descubra Tesouros Literários em Nosso Sebo Virtual!</p>
						<!--<i class="fas fa-shopping-cart"></i>-->
						<a href="http://localhost:8000/shop" class="cart-btn mt-3">Ver Livros</a>
					</div>
				</div>
			</div>

			<div class="row">
				{% for book in our_library %}
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<a href="{{url_for('ecommerce.book',  book_id=book.id)}}"><img src="{{book.mediumCoverUrl}}" ></a>
							</div>
							<h3 class="card-title" style="height: 50px;">{{book.title}}</h3>
							<div class="description-container">
								<p class="description">{{book.description}}</p>
							</div>
							<br>
							<a href="{{url_for('ecommerce.cart')}}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Adicionar ao carrinho</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end product section -->

	

	<!-- testimonail-section -->
	<!--<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{url_for('static', filename='img/avaters/avatar1.png')}}" alt="">
							</div>
							<div class="client-meta">
								<h3>Eduardo Alves <span>Leitor assíduo</span></h3>
								<p class="testimonial-body">
									" Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse hic, commodi magnam reprehenderit totam sapiente nam perspiciatis aperiam, quidem porro minus quo molestiae expedita? Dolores, inventore. Asperiores dolor illum temporibus. "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{url_for('static', filename='img/avaters/avatar2.png')}}" alt="">
							</div>
							<div class="client-meta">
								<h3>Flávio Kawan <span>Leitor assíduo</span></h3>
								<p class="testimonial-body">
									" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam excepturi veritatis voluptatem libero nulla maiores. Incidunt ea illum nemo nam. Doloremque necessitatibus ad numquam labore laudantium quisquam earum tempore tenetur. "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{{url_for('static', filename='img/avaters/avatar3.png')}}" alt="">
							</div>
							<div class="client-meta">
								<h3>Gustavo Oliveira <span>Filantropo milionário</span></h3>
								<p class="testimonial-body">
									" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, veritatis odio aliquam perspiciatis, error expedita labore esse quam, facere tempora quas enim. Dignissimos dolorem omnis doloribus? Hic dolor obcaecati cumque. "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	<!-- end testimonail-section -->
	
	
	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>Há mais livros para doação em Novembro! <br> com <span class="orange-text">Confira...</span></h3>
        </div>
    </section>
	<!-- end shop banner -->
	
	<!-- latest news -->
	<!--<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Resumos</span> literários</h3>
						<p>Acompanhe a trajetória de seus personagens preferidos de forma resumida!</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-m6">
					<div class="single-latest-news">
						<a href="{{url_for('ecommerce.single_news')}}"><div class="latest-news-bg news-bg-4"></div></a>
						<div class="news-text-box">
							<h3><a href="{{url_for('ecommerce.single_news')}}">You will vainly look for fruit on it in autumn.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="{{url_for('ecommerce.single_news')}}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{{url_for('ecommerce.single_news')}}"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="{{url_for('ecommerce.single_news')}}">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="{{url_for('ecommerce.single_news')}}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="{{url_for('ecommerce.single_news')}}"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="{{url_for('ecommerce.single_news')}}">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="{{url_for('ecommerce.single_news')}}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{{url_for('ecommerce.summary')}}" class="boxed-btn">Mais resumos</a>
				</div>
			</div>
		</div>-->
		<!-- zap - zap -->

		<!-- Seção em Destaque -->
	<div style="box-shadow: none" class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Por que o <span class="orange-text">Bookshifter?</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="content">
										<h3>Localização</h3>
										<p>Localize e Verifique a rota até a Fatec disponível.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-barcode"></i>
									</div>
									<div class="content">
										<h3>Melhores livros</h3>
										<p>Adição de livros facilitadas através de seu ISBN (código do livro).</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-home"></i>
									</div>
									<div class="content">
										<h3>Colabore com a leitura</h3>
										<p>Abra espaço em sua casa e transforme a vida do próximo!</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fab fa-whatsapp"></i>
									</div>
									<div class="content">
										<h3>Contato</h3>
										<p>Suporte via WhatsApp persolizado e eficiente!</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim da Seção em Destaque -->
		
	<div class="buttonzap">
		<a id="btn-zap" href='https://api.whatsapp.com/send?phone=5511986592453&text=Olá,%20você%20poderia%20me%20orientar%20com%20o%20uso%20do%20BookShifter?' class="icon" target='_blank'>
		  <i class="fab fa-whatsapp"></i>
		</a>
	</div>
	</div>
	
	<!-- end latest news -->
	{% endblock %}
	