{% extends 'base-admin.html' %}

{% block content %}


    
                     
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        
        <li><a href="#">Forms Stuff</a></li>
        <li class="active">Form Elements</li>
    </ul>
    <!-- END BREADCRUMB -->
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-arrow-circle-o-left"></span> Material Design Forms</h2>
    </div>
    <!-- END PAGE TITLE -->                
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        
        <div class="row">                        
            <div class="col-md-6">
                                            
                <!-- START BASIC ELEMENTS -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Basic elements</h3>
                        <form role="form" class="form-material">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" required>                                            
                                <span class="form-bar"></span>
                                <label for="exampleInputEmail1">Input field with float label</label>
                            </div>
                            <div class="form-group">  
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Placeholder">                                            
                                <span class="form-bar"></span>
                                <label for="exampleInputPassword1">Static label</label>        
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="exampleInputSelect1">
                                    <option value=""></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </select>
                                <span class="form-bar"></span>
                                <label for="exampleInputSelect1">Static label</label>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="exampleTextArea1"></textarea>                                            
                                <span class="form-bar"></span>
                                <label for="exampleTextArea1">Textarea</label>
                            </div>                                        
                            <div class="form-group">
                                <div class="checkbox-material">
                                    <input type="checkbox" id="anId1" />
                                    <label for="anId1">Checkbox</label>
                                </div>
                            </div>                                        
                            <div class="form-group">
                                <label class="radio-material">
                                    <input id="radio1" type="radio" name="radios" checked>
                                    <span class="outer"><span class="inner"></span></span> Radio 1
                                </label>                                            
                                <label class="radio-material">
                                    <input id="radio2" type="radio" name="radios">
                                    <span class="outer"><span class="inner"></span></span> Radio 2
                                </label>
                            </div>
                        </form>                     
                    </div>
                </div>                        
                <!-- END BASIC ELEMENTS -->
                
            </div>
                           
            <div class="col-md-6">
                                            
                <!-- START FLOATED TITLES -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Floated Label</h3>
                        <form role="form" class="form-material">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail2" required>                                            
                                <span class="form-bar"></span>
                                <label class="float-label" for="exampleInputEmail2">Input type email</label>
                            </div>
                            <div class="form-group">  
                                <input type="password" class="form-control" id="exampleInputPassword2" required>                                            
                                <span class="form-bar"></span>
                                <label class="float-label" for="exampleInputPassword2">Input type password</label>        
                            </div>
                            <div class="form-group">  
                                <select class="form-control" id="exampleInputSelect2" required>
                                    <option value=""></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </select>
                                <span class="form-bar"></span>
                                <label class="float-label" for="exampleInputSelect2">Select label</label>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="exampleTextArea2" required></textarea>                                            
                                <span class="form-bar"></span>
                                <label class="float-label" for="exampleTextArea2">Textarea</label>
                            </div>                                        
                            <div class="form-group">
                                <div class="checkbox-material">
                                    <input type="checkbox" id="anId2" />
                                    <label for="anId2">Checkbox</label>
                                </div>
                            </div>                                        
                            <div class="form-group">
                                <label class="radio-material">
                                    <input id="radio1" type="radio" name="radios" checked>
                                    <span class="outer"><span class="inner"></span></span> Radio 1
                                </label>                                            
                                <label class="radio-material">
                                    <input id="radio2" type="radio" name="radios">
                                    <span class="outer"><span class="inner"></span></span> Radio 2
                                </label>
                            </div>                                        
                        </form>                     
                    </div>
                </div>                        
                <!-- END FLOATED TITLES -->
                
            </div>
        </div>
        
    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                
</div>            

{% endblock content %}

{% block imports %}

<script>
    $(function(){
        //Spinner
        $(".spinner_default").spinner()
        $(".spinner_decimal").spinner({step: 0.01, numberFormat: "n"});                
        //End spinner
        
        //Datepicker
        $('#dp-2').datepicker();
        $('#dp-3').datepicker({startView: 2});
        $('#dp-4').datepicker({startView: 1});                
        //End Datepicker
    });
</script>

{% endblock imports %}