{% extends 'base-admin.html' %}

{% block content %}


    
                      
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        
        
        <li class="active">Contatos</li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-users"></span> Contatos <small>12 contatos</small></h2>
    </div>
    <!-- END PAGE TITLE -->                
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Procure seus contatos por nome, telefone ou email.</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Digite algo para buscar..."/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary">Procurar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success btn-block"><span class="fa fa-plus"></span> Adicionar contato</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-danger btn-block"><span class="fa fa-ban"></span> Apagar contato</button>
                                </div>
                            </div>
                        </form>                                    
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div style="height: 30px;">&nbsp;</div>
                        <!--
                        <div class="profile-image">
                             <img src="{{ url_for('static', filename='/assets/images/users/user6.jpg') }}" alt="Lika Semione"/>
                        </div>
                        -->
                        <div class="profile-data">
                            <div class="profile-data-name">Fulano da Silva</div>
                            <div class="profile-data-title">Contato adminstrativo</div>
                        </div>
                        <div class="profile-controls">
                            <a href="#" class="profile-control-left"><span class="fa fa-envelope"></span></a>
                            <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                        </div>
                    </div>                                
                    <div class="panel-body">                                    
                        <div class="contact-info" style="display: grid;grid-template-columns: repeat(2, 1fr);">
                            <p><small>Telefone</small><br/>+55 11 5509-3537</p>
                            <p><small>Email</small><br/>opencdn@nic.br</p>
                            <p>&nbsp;<br>&nbsp;</p>
                        </div>
                    </div>                                
                </div>
                <!-- END CONTACT ITEM -->
            </div>
            <div class="col-md-3">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div style="height: 30px;">&nbsp;</div>
                        <!--
                        <div class="profile-image">
                             <img src="{{ url_for('static', filename='/assets/images/users/user6.jpg') }}" alt="Lika Semione"/>
                        </div>
                        -->
                        <div class="profile-data">
                            <div class="profile-data-name">Beltrano da Silva</div>
                            <div class="profile-data-title">Contato comercial</div>
                        </div>
                        <div class="profile-controls">
                            <a href="#" class="profile-control-left"><span class="fa fa-envelope"></span></a>
                            <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                        </div>
                    </div>                                
                    <div class="panel-body">                                    
                        <div class="contact-info" style="display: grid;grid-template-columns: repeat(2, 1fr);">
                            <p><small>Telefone</small><br/>+55 11 5509-3537</p>
                            <p><small>Email</small><br/>opencdn@nic.br</p>
                            <p>&nbsp;<br>&nbsp;</p>
                        </div>
                    </div>                                
                </div>
                <!-- END CONTACT ITEM -->
            </div>
            <div class="col-md-3">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div style="height: 30px;">&nbsp;</div>
                        <!--
                        <div class="profile-image">
                             <img src="{{ url_for('static', filename='/assets/images/users/user6.jpg') }}" alt="Lika Semione"/>
                        </div>
                        -->
                        <div class="profile-data">
                            <div class="profile-data-name">Sicrano da Silva</div>
                            <div class="profile-data-title">Contato adminstrativo</div>
                        </div>
                        <div class="profile-controls">
                            <a href="#" class="profile-control-left"><span class="fa fa-envelope"></span></a>
                            <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                        </div>
                    </div>                                
                    <div class="panel-body">                                    
                        <div class="contact-info" style="display: grid;grid-template-columns: repeat(2, 1fr);">
                            <p><small>Telefone</small><br/>+55 11 5509-3537</p>
                            <p><small>Email</small><br/>opencdn@nic.br</p>
                            <p>&nbsp;<br>&nbsp;</p>
                        </div>
                    </div>                                
                </div>
                <!-- END CONTACT ITEM -->
            </div>
            <div class="col-md-3">
                <!-- CONTACT ITEM -->
                <div class="panel panel-default">
                    <div class="panel-body profile">
                        <div style="height: 30px;">&nbsp;</div>
                        <!--
                        <div class="profile-image">
                             <img src="{{ url_for('static', filename='/assets/images/users/user6.jpg') }}" alt="Lika Semione"/>
                        </div>
                        -->
                        <div class="profile-data">
                            <div class="profile-data-name">Fulano da Silva Jr</div>
                            <div class="profile-data-title">Contato de NOC</div>
                        </div>
                        <div class="profile-controls">
                            <a href="#" class="profile-control-left"><span class="fa fa-envelope"></span></a>
                            <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                        </div>
                    </div>                                
                    <div class="panel-body">                                    
                        <div class="contact-info" style="display: grid;grid-template-columns: repeat(2, 1fr);">
                            <p><small>Telefone</small><br/>+55 11 5509-3537</p>
                            <p><small>Email</small><br/>opencdn@nic.br</p>
                            <p><small>INOC-DBA</small><br/>22548*100</p>
                        </div>
                    </div>                                
                </div>
                <!-- END CONTACT ITEM -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>                                    
                    <li><a href="#">»</a></li>
                </ul>                            
            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                 
</div>

{% endblock content %}

{% block imports %}


{% endblock imports %}