{% extends 'base-admin.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('ecommerce.index')}}">Home</a></li>
        <li class="active">Meus livros</li>
    </ul>
    <!-- END BREADCRUMB -->     
                                          
    
    <!-- PAGE TITLE -->
    <div class="page-title">       
        {% with messages = get_flashed_messages(with_categories=true) %}
	    	{% if messages %}
	    		{% for category, message in messages %}
	    		<div class="alert alert-{{category}} alert-dismissible" role="alert">
	    			<p class="text-middle">{{ message }}</p>
	    		</div>
	    		{% endfor %}
	    	{% endif %}
	    {% endwith %}                  
        <h2><span class="fa fa-book"></span> Meus livros</h2>
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#add-book"><span class="fa fa-plus"></span> Adicionar livro</button>
    </div>
    
    <div class="modal fade" id="add-book" tabindex="-1" role="dialog" aria-labelledby="add-bookLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Adicionar livro</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <form method="POST">
                        <br>
                        <p>* Obrigatório</p>
                        <br>
                        <div class="form-group">
                            <label class="col-md-12 control-label">* ISBN do livro</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="ISBN-10 ou ISBN-13 do livro sem hífens..." name="isbn"  required/>
                            </div>
                            <br>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label">* Estado do livro</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Descreva brevemente o estado do livro..." name="state" required/>
                            </div>
                            <br>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label">* Fatec destino</label>
                            <div class="col-md-12">
                            
                                <select class="form-control" name="fatec" required id="form-fatec">
                                    <option value="N/A" disabled selected>Selecione uma Fatec</option>
                                    {% for fatec in fatecs %}
                                        <option value="{{fatec.id}}" id="fatec-{{fatec.id}}" name=>{{fatec.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="origem">Digite seu endereço/CEP</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" id="origem" placeholder="Digite seu local de origem" />
                            </div>
                            <br>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label">Escolha seu meio de transporte</label>
                            <div class="col-md-12">
                                <select id="mode" class="form-control">
                                <option value="DRIVING">Veículo próprio</option>
                                <option value="WALKING">Andando</option>
                                <option value="TRANSIT">Transporte Público</option>
                            </select> 
                            </div>
                        </div>
                        
                        <br><br><br>
                        <div>
                            <button type="submit" name="add-book" class="btn btn-success pull-right" >Salvar</button>
                            <button id="btn-rota" type="button" class="btn btn-info pull-righ" onclick="initMap()">Calcular rota</button>
                        </div>
                        <br>
                        <div id="map" style="height: 500px;" hidden></div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" id="delete-book" tabindex="-1" role="dialog" aria-labelledby="delete-bookLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Apagar livro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <h4>Tem certeza que deseja apagar este livro?</h4>
                    <br>
                    <form method="POST">
                        <input type="hidden" id="id-book-del-modal" name="book_id" value="">
                        <button class="btn btn-info pull-left" type="button" class="close" data-dismiss="modal" aria-label="Close">Não</button>
                        <button class="btn btn-danger pull-right" type="submit" name="delete-book">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        {% if not user_data.books %}
            <div class="text-center">
                <h1>Você não tem livros cadastrados.</h3>
                <br>
                <img src="{{ url_for('static', filename= 'img/media/no-books.png') }}" style="max-width:20%;">
                <br><br><br>
                <h3>Para cadastrar um livro, clique <a data-toggle="modal" data-target="#add-book" class="text-info">aqui</a> ou no botão adicionar livro.</h3>
            </div>
        {% elif 'error' in user_data %}
        <div class="text-center">
            <h1>Erro ao buscar livros!</h3>
            <br>
            <img src="{{ url_for('static', filename= 'img/media/no-books.png') }}" style="max-width:20%;">
            <br><br><br>
            <h3>Sugerimos você <a href="{{ url_for('authentication.login')}}">entrar</a> novamente.</h3>
        </div>
        {% else %}
        <div class="container">
            <div class="row">
                {% for book in user_data.books %}
                    <div class="col-md-4 col-sm-12 col-lg-4 mt-4">
                        <div class="card" id="book-{{ book.id }}">
                            <img src="{{ book.mediumCoverUrl }}" class="card-img-top" style="height:400px;">
                            <div class="card-body">
                                <h2 class="card-title" style="height: 50px;">{{ book.title }}</h2>
                                <br>
                                <p class="card-text">Autor{% if book.authors|length > 1 %}es{% endif %}:
                                {% for author in book.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}
                                </p>
                                <p class="card-text"><strong>Editora: </strong>{{ book.publisher }}</p>
                                <p class="card-text"><strong>Estado do livro: </strong>{{ book.bookState }}</p>
                                <p class="card-text"><strong>Local: </strong>{{ book.fatecName }}</p>
                                <p class="card-text"><strong>Descrição: </strong>&nbsp;<span class="fa fa-info-circle" title="{{ book.description }}"></span></p>
                                
                                <div class="row">
                                    <br>
                                    <!-- 
                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-block btn-info" value="Editar">
                                    </div>
                                    -->
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-block btn-danger" href="#" data-toggle="modal" data-target="#delete-book" onclick="modalDeleteChangeId({{book.id}})">Apagar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        
    </div>

{% endblock content %}

{% block imports %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{key_google}}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename= 'js/book.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/maps.js') }}"></script>
{% endblock imports %}

