{% extends 'base-admin.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        
        
        <li><a href="#" class="active">Services</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-cogs"></span> Serviços - AS 26162</h2>
    </div>
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row" id="atms-panel">
            <div class="col-md-12">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>ATMs</h3>
                            <span>Seus ATMs no IX.br</span>
                        </div>
                        <ul class="panel-controls panel-controls-title">
                            <li>
                                <div id="reportrange" class="dtrange"> 
                                    <span></span><b class="caret"></b>
                                </div>
                            </li>
                            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                        </ul>
                        
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Ticket</th>
                                        <th>Tipo de serviço</th>
                                        <th>Status</th>
                                        <th>Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AS26162-CS-31</td>
                                        <td><a href="">106548</a></td>
                                        <td>ATM-V4</td>
                                        <td><span class="label label-success">Produção</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CS-32</td>
                                        <td><a href="">81478</a></td>
                                        <td>ATM-V6</td>
                                        <td><span class="label label-warning">Quarentena</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CS-33</td>
                                        <td><a href="">94815</a></td>
                                        <td>ATMv4</td>
                                        <td><span class="label label-info">Em ativação</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CS-34</td>
                                        <td><a href="">101848</a></td>
                                        <td>ATMv4</td>
                                        <td><span class="label label-danger">Em desativação</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="panel panel-dafault">
                    <div class="panel-body">
                        <h3>ATM</h3>
                        <p style="text-align:justify;">
                            O ATM é uma modalidade de participação em um Internet Exchange onde troca-se tráfego com todos participantes que estão nessa mesma modalidade.
                            No IX.br o ATM não envolve relações comerciais entre os participantes, ou entre estes e o IX.br. Esse modo de participação está disponível para todos, por meio do estabelecimento de sessões BGP com o route-server.
                            <br><br>
                            A participação no ATM é o caso mais comum para os participantes do IX.br, e é recomendada, contudo ela é facultativa. 
                            Ao participar do ATM é o participante também quem decide se vai anunciar todos os seus prefixos ou apenas parte deles. Pode-se verificar quem participa do ATM no IX.br <a href="http://ix.br/particip/.">aqui.</a></p>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row" id="bilaterals-panel">
            <!-- <div class="col-md-3">
                <div class="panel panel-dafault">
                    <div class="panel-body">
                        <h3>Bilaterais</h3>
                        <p style="text-align:justify;">
                            Uma relação bilateral é um acordo firmado entre dois Sistemas Autônomos participantes de um IX. Pode ser um acordo comercial, envolvendo a venda de serviços, ou um acordo não comercial, com finalidades como: compra e venda de trânsito, troca de tráfego ou outros tipos de serviços (acesso a backup, telefonia IP, etc). 
                            <br><br>
                            Dentro do IX.br, as relações bilaterais são aceitas e podem ser estabelecidas nas VLANs 'comuns' (as mesmas usadas para o ATM). Os participantes podem também solicitar ao IX.br que VLANs dedicadas sejam provisionadas.
                    </div>
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>Bilaterais</h3>
                            <span>Suas bilaterais com outros ASNs</span>
                        </div>
                        <ul class="panel-controls panel-controls-title">
                            <li>
                                <div id="reportrange" class="dtrange"> 
                                    <span></span><b class="caret"></b>
                                </div>
                            </li>
                            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                        </ul>
                        
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Ticket</th>
                                        <th>Status</th>
                                        <th>Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ACE-AS26162-AS61580-1</td>
                                        <td><a href="">121345</a></td>
                                        <td><span class="label label-success">Produção</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>CE-AS26162-AS61580-2</td>
                                        <td><a href="">258420</a></td>
                                        <td><span class="label label-warning">Quarentena</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="connections-panel">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>Conexões</h3>
                            <span>Suas conexões com o IX.br</span>
                        </div>
                        <ul class="panel-controls panel-controls-title">
                            <li>
                                <div id="reportrange" class="dtrange"> 
                                    <span></span><b class="caret"></b>
                                </div>
                            </li>
                            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                        </ul>
                        
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Ticket</th>
                                        <th>PIX</th>
                                        <th>Status</th>
                                        <th>Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AS26162-CC-1</td>
                                        <td><a href="">106548</a></td>
                                        <td>PIX Eletronet</td>
                                        <td><span class="label label-success">Produção</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CC-2</td>
                                        <td><a href="">81478</a></td>
                                        <td>PIX Etice</td>
                                        <td><span class="label label-warning">Quarentena</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CC-3</td>
                                        <td><a href="">94815</a></td>
                                        <td>PIX Angola Cables</td>
                                        <td><span class="label label-info">Em ativação</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CC-4</td>
                                        <td><a href="">101848</a></td>
                                        <td>PIX Globenet</td>
                                        <td><span class="label label-danger">Em desativação</span></td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="panel panel-dafault">
                    <div class="panel-body">
                        <h3>Conexões</h3>
                        <p style="text-align:justify;">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ratione magni nesciunt autem quae odit blanditiis consequatur quasi vitae pariatur! Quaerat excepturi aspernatur vero hic molestias? Sunt ad esse aliquam.
                            <br><br>
                            Eum explicabo voluptates, ad iure quisquam animi distinctio cum libero nobis, illo veritatis, earum saepe illum consequuntur modi itaque voluptatibus sint similique? Fugit ducimus dolore tenetur recusandae unde voluptas similique a dolor enim quis numquam laboriosam.
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row" id="cix-panel">
            <!-- <div class="col-md-3">
                <div class="panel panel-dafault">
                    <div class="panel-body">
                        <h3>CIX</h3>
                        <p style="text-align:justify;">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ratione magni nesciunt autem quae odit blanditiis consequatur quasi vitae pariatur! Quaerat excepturi aspernatur vero hic molestias? Sunt ad esse aliquam.
                            <br><br>
                            Eum explicabo voluptates, ad iure quisquam animi distinctio cum libero nobis, illo veritatis, earum saepe illum consequuntur modi itaque voluptatibus sint similique? Fugit ducimus dolore tenetur recusandae unde voluptas similique a dolor enim quis numquam laboriosam.
                    </div>
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>CIX</h3>
                            <span>Suas conexões CIX</span>
                        </div>
                        <ul class="panel-controls panel-controls-title">
                            <li>
                                <div id="reportrange" class="dtrange"> 
                                    <span></span><b class="caret"></b>
                                </div>
                            </li>
                            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                        </ul>
                        
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table datatable" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Ticket</th>
                                        <th>Status</th>
                                        <th>ATMv4</th>
                                        <th>ATMv6</th>
                                        <th>Bilaterais</th>
                                        <th>Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>AS26162-CC-31</td>
                                        <td><a href="">106548</a></td>
                                        <td><span class="label label-success">Produção</span></td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>4</td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CC-32</td>
                                        <td><a href="">81478</a></td>
                                        <td><span class="label label-warning">Quarentena</span></td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>44</td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CC-33</td>
                                        <td><a href="">94815</a></td>
                                        <td><span class="label label-info">Em ativação</span></td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>AS26162-CC-34</td>
                                        <td><a href="">101848</a></td>
                                        <td><span class="label label-danger">Em desativação</span></td>
                                        <td>0</td>
                                        <td>20</td>
                                        <td>7</td>
                                        <td><span class="fa fa-info-circle"></span></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                 
</div>

{% endblock content %}