{% extends 'base-admin.html' %}

{% block content %}
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        
        <li><a href="#">Charts</a></li>
        <li class="active">Rickshaw</li>
    </ul>
    <!-- END BREADCRUMB -->                
                    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-arrow-circle-o-left"></span> Rickshaw Charts</h2>
    </div>
    <!-- END PAGE TITLE -->                

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        
        <div class="row">
            
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lineplot</h3>
                    </div>
                    <div class="panel-body">                                    
                        <div id="charts-lineplot"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lines</h3>
                    </div>
                    <div class="panel-body">                                    
                        <div id="charts-lines"></div>
                    </div>
                </div>                            
            </div>
            
        </div>
        
        <div class="row">
            
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Column</h3>
                    </div>
                    <div class="panel-body">                                    
                        <div id="charts-column"></div>
                    </div>
                </div>                                                        
            </div>
            
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Legend</h3>
                    </div>
                    <div class="panel-body">                                    
                        <div id="charts-legend"></div>
                        <div class="chart-legend">
                            <div id="legend"></div>
                        </div>
                    </div>
                </div>                            
            </div>
            
        </div>                    
        
    </div>
                

{% endblock content %}

{% block imports %}
<script type="text/javascript" src="{{ url_for('static', filename= 'js/demo_charts_rickshaw.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/plugins/rickshaw/d3.v3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/plugins/rickshaw/rickshaw.min.js') }}"></script>
{% endblock imports %}