{% extends 'base-admin.html' %}

{% block content %}


    
                      
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        
        
        <li><a href="#">Invoice</a></li>
        <li class="active">#Y14-152</li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        
        <div class="row">
            <div class="col-md-12">
                
                <div class="panel panel-default">
                    <div class="panel-body">                            
                        <h2>INVOICE <strong>#Y14-152</strong></h2>
                        <div class="push-down-10 pull-right">
                            <button class="btn btn-default"><span class="fa fa-print"></span> Print</button>                                        
                        </div>
                        <!-- INVOICE -->
                        <div class="invoice">

                            <div class="row">
                                <div class="col-md-4">

                                    <div class="invoice-address">
                                        <h5>From</h5>
                                        <h6>Organization Name</h6>
                                        <p>John Doe</p>
                                        <p>45 StreetName St.</p>
                                        <p>City, Country, 00000</p>
                                        <p>Phone: +98(765) 432-10-98</p>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="invoice-address">
                                        <h5>To</h5>
                                        <h6>Your Company Name</h6>
                                        <p> Lourance Johns</p>
                                        <p>15 Nameofstreet St.</p>
                                        <p>City, Country, 00000</p>
                                        <p>Phone: +01(234) 567-89-01</p>
                                    </div>                                        

                                </div>
                                <div class="col-md-4">

                                    <div class="invoice-address">
                                        <h5>Invoice</h5>
                                        <table class="table table-striped">
                                            <tr>
                                                <td width="200">Invoice Number:</td><td class="text-right">#Y14-152</td>
                                            </tr>
                                            <tr>
                                                <td>Invoice Date:</td><td class="text-right">23/11/2022</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Total:</strong></td><td class="text-right"><strong>$2,697.64</strong></td>
                                            </tr>
                                        </table>

                                    </div>                                        

                                </div>
                            </div>
                            
                            <div class="table-invoice">
                                <table class="table">
                                    <tr>
                                        <th>Item Description</th>
                                        <th class="text-center">Unit Price</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Web Design</strong>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis sed mi sit amet porta.</p>
                                        </td>
                                        <td class="text-center">$125.00</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">$125.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Development</strong>
                                            <p>Aliquam id eleifend turpis. Sed tincidunt purus laoreet luctus sollicitudin.</p>
                                        </td>
                                        <td class="text-center">$2,000.00</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">$2,000.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Web Hosting</strong>
                                            <p>http://domain.com/ dolor sed aliquam porttitor, felis nisl fermentum est, sed dapibus quam sapien nec felis</p>
                                        </td>
                                        <td class="text-center">$41.20</td>
                                        <td class="text-center">10</td>
                                        <td class="text-center">$412.00</td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Payment Methods</h4>
                                    
                                    <div class="paymant-table">
                                        <a href="#" class="active">
                                            <img src="img/cards/paypal.png"/> PayPal
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                        <a href="#">
                                            <img src="img/cards/visa.png"/> Visa
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                        <a href="#">
                                            <img src="img/cards/mastercard.png"/> Master Card
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <h4>Amount Due</h4>
                                    
                                    <table class="table table-striped">
                                        <tr>
                                            <td width="200"><strong>Sub Total:</strong></td><td class="text-right">$2,533.00</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tax (VAT 4.5%):</strong></td><td class="text-right">$113.98</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Discount (2%):</strong></td><td class="text-right">$50.66</td>
                                        </tr>
                                        <tr class="total">
                                            <td>Total Amount:</td><td class="text-right">$2,697.64</td>
                                        </tr>
                                    </table>                                                
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right push-down-20">
                                        <button class="btn btn-success"><span class="fa fa-credit-card"></span> Process Payment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END INVOICE -->

                    </div>
                </div>
        
            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                 
</div>            

{% endblock content %}

{% block imports %}


{% endblock imports %}