.table td a {
    text-decoration: none;
}

.table th {
    text-align: center;
}
#table-right td {
    width: 700px !important;
    color: rgb(146, 30, 255);
}
#table-right th {
    width: 700px !important;
    color: rgb(2, 90, 146);
}
#status-ix {
    text-decoration: none;
    color: #ffffff;
}
.fs-1 {
    font-size: 5rem !important; 
}
.fs-2 {
    font-size: 4.5rem !important; 
}
.fs-3 {
    font-size: 4rem !important; 
}
.fs-4 {
    font-size: 3.5rem !important; 
}
.fs-5 {
    font-size: 3rem !important; 
}
.fs-6 {
    font-size: 2.5rem !important; 
}
.mb-1 {
    padding-bottom: 0.25rem !important;
}
.mb-2 {
    padding-bottom: 0.5rem !important;
}
.mb-3 {
    padding-bottom: 1rem !important;
}
.mb-4 {
    padding-bottom: 1.5rem !important;
}
.mb-5 {
    padding-bottom: 3rem !important;
}
.mb-6 {
    padding-bottom: 4rem !important;
}
.top-35 {
    top:35% !important;
}
.h-auto {
    height: 80px;
}
.bg-dark {
    background-color: #212529 !important;
}
.drag-disabled {
    pointer-events: none;
}
.drag-enabled {
    pointer-events: all;
}
.dd-box {
    display: block;
    height: 50px;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #D5D5D5;
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
  
.dd-box:hover {
    color: #1B1E24;
    background: #fff;
}
.bg-red {
    color: white !important;
    background-color: #f85957;
    border-color: #f85957;
}

.bg-red:hover {
    background-color: #640200 !important;
    border-color: #640200 !important;
}
#example-advanced tr {
    height: 50px;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 2px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.panel .panel-body .card-book img {
  display: flex;
  width: 100%;
  height: 300px;
  margin: auto;
}


