{% extends 'base-admin.html' %}

{% block content %}                    
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        <li><a href="/logs" class="active">Logs</a></li>
    </ul>
    <!-- END BREADCRUMB -->                                                
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-file"></span> Logs</h2>
    </div>
    <!-- END PAGE TITLE -->                     
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="panel panel-default tabs">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#tab-log1" data-toggle="tab">Logs 1</a></li>
                    <li><a href="#tab-log2" data-toggle="tab">Logs 2</a></li>
                    <li><a href="#tab-log3" data-toggle="tab">Logs 3</a></li>
                    <li><a href="#tab-log4" data-toggle="tab">Logs 4</a></li>
                </ul>
                <div class="panel-body tab-content">
                    <div class="tab-pane active" id="tab-log1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title-box">
                                    <h3>Customer Service</h3>
                                    <span>Logs de customer services</span>
                                </div>
                                <ul class="panel-controls panel-controls-title">
                                    <li>
                                        <div id="reportrange" class="dtrange"> 
                                            <span></span><b class="caret"></b>
                                        </div>
                                    </li>
                                    <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                                </ul>
                                
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table datatable" style="text-align:center;">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Ticket</th>
                                                <th>Tipo de serviço</th>
                                                <th>Status</th>
                                                <th>Detalhes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>AS26162-CS-31</td>
                                                <td><a href="">106548</a></td>
                                                <td>ATM-V4</td>
                                                <td><span class="label label-success">Produção</span></td>
                                                <td><span class="fa fa-info-circle"></span></td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-log2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title-box">
                                    <h3>Customer connection</h3>
                                    <span>Logs de customer connection</span>
                                </div>
                                <ul class="panel-controls panel-controls-title">
                                    <li>
                                        <div id="reportrange" class="dtrange"> 
                                            <span></span><b class="caret"></b>
                                        </div>
                                    </li>
                                    <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                                </ul>
                                
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table datatable" style="text-align:center;">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Ticket</th>
                                                <th>Tipo de serviço</th>
                                                <th>Status</th>
                                                <th>Detalhes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>AS26162-CS-31</td>
                                                <td><a href="">106548</a></td>
                                                <td>ATM-V4</td>
                                                <td><span class="label label-success">Produção</span></td>
                                                <td><span class="fa fa-info-circle"></span></td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-log3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title-box">
                                    <h3>Customer Connection Endpoint</h3>
                                    <span>Logs de customer connection endpoint</span>
                                </div>
                                <ul class="panel-controls panel-controls-title">
                                    <li>
                                        <div id="reportrange" class="dtrange"> 
                                            <span></span><b class="caret"></b>
                                        </div>
                                    </li>
                                    <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                                </ul>
                                
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table datatable" style="text-align:center;">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Ticket</th>
                                                <th>Tipo de serviço</th>
                                                <th>Status</th>
                                                <th>Detalhes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>AS26162-CS-31</td>
                                                <td><a href="">106548</a></td>
                                                <td>ATM-V4</td>
                                                <td><span class="label label-success">Produção</span></td>
                                                <td><span class="fa fa-info-circle"></span></td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-log4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title-box">
                                    <h3>Fatura</h3>
                                    <span>Logs de Fatura</span>
                                </div>
                                <ul class="panel-controls panel-controls-title">
                                    <li>
                                        <div id="reportrange" class="dtrange"> 
                                            <span></span><b class="caret"></b>
                                        </div>
                                    </li>
                                    <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
                                </ul>
                                
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table datatable" style="text-align:center;">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Ticket</th>
                                                <th>Tipo de serviço</th>
                                                <th>Status</th>
                                                <th>Detalhes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>AS26162-CS-31</td>
                                                <td><a href="">106548</a></td>
                                                <td>ATM-V4</td>
                                                <td><span class="label label-success">Produção</span></td>
                                                <td><span class="fa fa-info-circle"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                 
</div>

{% endblock content %}