{% extends 'base-admin.html' %}

{% block content %}

<div class="sortableContent" id="grid_content_1">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        
        <li><a href="#">UI Kits</a></li>
        <li class="active">Sliders</li>
    </ul>
    <!-- END BREADCRUMB -->
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-arrow-circle-o-left"></span> Sliders</h2>
    </div>
    <!-- END PAGE TITLE -->                
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">                
    
        <div class="row">
            <div class="col-md-12">
                
                <!-- START ION RANGE SLIDER -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3><strong>Ion</strong> Range Slider</h3>
                        <p>Beautiful, comfortable and easily customizable range slider with skins support. Also support events and public methods, has flexible settings and can be completely modified with CSS.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" class="form-horizontal">

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Default</label>
                                        <div class="col-md-10">
                                            <p>Start without params</p>
                                            <input type="text" id="ise_default" name="ise_default" value="" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Min-Max</label>
                                        <div class="col-md-10">
                                            <p>Set min value, max value and start point</p>
                                            <input type="text" id="ise_min_max" name="ise_min_max" value="" />                                                        
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Prefix</label>
                                        <div class="col-md-10">
                                            <p>Showing grid and adding prefix "$"</p>
                                            <input type="text" id="ise_prefix" name="ise_prefix" value="" />                                                        
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Step</label>
                                        <div class="col-md-10">
                                            <p>Step 250</p>
                                            <input type="text" id="ise_step" name="ise_step" value="" />                                                        
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Custom Values</label>
                                        <div class="col-md-10">
                                            <p>One more example with strings</p>
                                            <input type="text" id="ise_custom_values" name="ise_custom_values" value="" />                                                        
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Decorate</label>
                                        <div class="col-md-10">
                                            <p>Taking care about how from and to values connect? Use decorate_both option</p>
                                            <input type="text" id="ise_decorate" name="ise_decorate" value="" />                                                        
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Disabled</label>
                                        <div class="col-md-10">
                                            <p>You can lock your slider, by using disable option</p>
                                            <input type="text" id="ise_disabled" name="ise_disabled" value="" />                                                        
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>  
                        </div>
                    </div>
                </div>
                <!-- END ION RANGE SLIDER -->
                
                <!-- START RANGE SLIDER -->
                <div class="panel panel-default">       
                    <div class="panel-body">
                        <h3>Range Slider</h3>
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">Default</label>
                                <div class="col-md-10">
                                    <div class="defaultSlider" data-min="20" data-max="180"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Date slider</label>
                                <div class="col-md-10">
                                    <div class="dateSlider" data-min="2010-01-01" data-max="2022-01-01"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Range</label>
                                <div class="col-md-10">
                                    <div class="rangeSlider" data-min="80" data-max="120"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Step</label>
                                <div class="col-md-10">
                                    <div class="stepSlider" data-min="50" data-max="150"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END RANGE SLIDER -->

                <!-- START KNOB SLIDER -->
                <div class="panel panel-default">       
                    <div class="panel-body">
                        <h3><strong>Knob</strong> Slider</h3>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <h5>Disable display input</h5>
                                <input class="knob" data-width="150" data-fgColor="#33414E" data-displayInput=false value="35"/>                                        
                            </div>
                            <div class="col-md-4 text-center">
                                <h5>'cursor' mode</h5>
                                <input class="knob" data-width="150" data-cursor=true data-fgColor="#81C500" value="29"/>                                        
                            </div>
                            <div class="col-md-4 text-center">
                                <h5>Display previous value</h5>
                                <input class="knob" data-width="150" data-min="-100" data-fgColor="#FD421C" data-displayPrevious=true value="44"/>
                            </div>
                        </div>                                                                    

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <h5>Angle offset</h5>
                                <input class="knob" data-width="150" data-angleOffset="90" data-linecap="round" data-fgColor="#61C0E6" value="35"/>
                            </div>
                            <div class="col-md-4 text-center">
                                <h5>Angle offset and arc</h5>
                                <input class="knob" data-width="150" data-cursor=true data-fgColor="#FEC558" value="29"/>                                        
                            </div>
                            <div class="col-md-4 text-center">
                                <h5>5-digit values, step 1000</h5>
                                <input class="knob" data-width="150" data-min="-15000" data-displayPrevious=true data-max="15000" data-step="1000" value="-11000" data-fgColor="#81C500"/>                                         
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END KNOB SLIDER -->                        

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                    
</div>

{% endblock content %}

{% block imports %}


{% endblock imports %}