{% extends 'base-admin.html' %}

{% block content %}


    
                      
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{{url_for('dashboard.dashboard')}}">Home</a></li>
        
        
        <li class="active">Autocomplete</li>
    </ul>
    <!-- END BREADCRUMB -->
    
    <!-- PAGE TITLE -->
    <div class="page-title">                    
        <h2><span class="fa fa-arrow-circle-o-left"></span> Slide Menu</h2>
    </div>
    <!-- END PAGE TITLE -->                
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        
        <div class="row">
            <div class="col-md-12">
                
                <!-- jQuery Sliding Menu -->                            
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>jQuery <strong>Sliding Menu</strong></h3>
                        <p>The creatively named, mobile-like, list-style, responsive sliding navigation menu</p>
                        <form action="#" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-1"></div>
                                <label class="control-label col-md-2">Default:</label>
                                <div class="col-md-6">
                                    
                                    <div id="sliding_menu">
                                        <ul>
                                            <li><a href="#">#1 First level element</a>
                                                <ul>
                                                    <li><a href="#">#1 Second level element</a>
                                                        <ul>
                                                            <li><a href="#">#1 Thiird level element</a></li>
                                                            <li><a href="#">#2 Thiird level element</a></li>
                                                            <li><a href="#">#3 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>                                                                
                                                    <li><a href="#">#2 Second level element</a>
                                                        <ul>
                                                            <li><a href="#">#1 Thiird level element</a></li>
                                                            <li><a href="#">#2 Thiird level element</a></li>
                                                            <li><a href="#">#3 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">#3 Second level element</a>
                                                        <ul>
                                                            <li><a href="#">#1 Thiird level element</a></li>
                                                            <li><a href="#">#2 Thiird level element</a></li>
                                                            <li><a href="#">#3 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">#2 First level element</a>
                                                <ul>
                                                    <li><a href="#">#1 Second level element</a>
                                                        <ul>
                                                            <li><a href="#">#1 Thiird level element</a></li>
                                                            <li><a href="#">#2 Thiird level element</a></li>
                                                            <li><a href="#">#3 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>                                                                
                                                    <li><a href="#">#2 Second level element</a>
                                                        <ul>
                                                            <li><a href="#">#1 Thiird level element</a></li>
                                                            <li><a href="#">#2 Thiird level element</a></li>
                                                            <li><a href="#">#3 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>                                                                
                                                </ul>
                                            </li>
                                            <li><a href="#">#3 First level element</a>
                                                <ul>
                                                    <li><a href="#">#1 Second level element</a>
                                                        <ul>
                                                            <li><a href="#">#1 Thiird level element</a>
                                                                <ul>
                                                                    <li><a href="#">#1 Fourth level element</a></li>
                                                                    <li><a href="#">#2 Fourth level element</a></li>
                                                                    <li><a href="#">#3 Fourth level element</a></li>                                                                        
                                                                </ul>                                                                            
                                                            </li>                                                                        
                                                        </ul>
                                                    </li>                                                                                                                                                                                      
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>                                                                                                                                                
                                    <span class="help-block">Supports unlimited count of levels</span>
                                    
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-1"></div>
                                <label class="control-label col-md-2">Icons:</label>
                                <div class="col-md-6">
                                    
                                    <div id="sliding_menu_2">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-home"></span> #1 First level element</a>
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-star"></span> #1 Second level element</a>
                                                        <ul>
                                                            <li><a href="#"><span class="fa fa-cloud"></span> #1 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>                                                                
                                                    <li><a href="#"><span class="fa fa-star"></span> #2 Second level element</a>
                                                        <ul>
                                                            <li><a href="#"><span class="fa fa-cloud"></span> #1 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-star"></span> #3 Second level element</a>
                                                        <ul>
                                                            <li><a href="#"><span class="fa fa-cloud"></span> #1 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><span class="fa fa-home"></span> #2 First level element</a>
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-star"></span> #1 Second level element</a>
                                                        <ul>
                                                            <li><a href="#"><span class="fa fa-cloud"></span> #1 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>                                                                
                                                    <li><a href="#"><span class="fa fa-star"></span> #2 Second level element</a>
                                                        <ul>
                                                            <li><a href="#"><span class="fa fa-cloud"></span> #1 Thiird level element</a></li>                                                                        
                                                        </ul>
                                                    </li>                                                                
                                                </ul>
                                            </li>
                                            <li><a href="#"><span class="fa fa-home"></span> #3 First level element</a>
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-star"></span> #1 Second level element</a>
                                                        <ul>
                                                            <li><a href="#"><span class="fa fa-cloud"></span> #1 Thiird level element</a>
                                                                <ul>
                                                                    <li><a href="#"><span class="fa fa-falsh"></span> #1 Fourth level element</a></li>                                                                        
                                                                </ul>                                                                            
                                                            </li>                                                                        
                                                        </ul>
                                                    </li>                                                                                                                                                                                      
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>                                                                                                                                                                                               
                                    <span class="help-block">Supports Font-Awesome and Glyphicons icon packages</span>
                                    
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </form>
                    </div>
                </div>                            
                <!-- END jQuery Sliding Menu -->

            </div>
        </div>
                                                
    </div>
    <!-- END PAGE CONTENT WRAPPER -->                       
                    
</div>

{% endblock content %}

{% block imports %}

<script>
    $(function(){
        $('#sliding_menu').menu();
        $('#sliding_menu_2').menu();
    });            
</script>

{% endblock imports %}