{% extends 'base-admin.html' %}

{% block content %}                     
    
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb" id="tour-breadcrumb">
        
        <li><a href="#">UI Kits</a></li>
        <li class="active">Tour</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE TITLE -->
    <div class="page-title" id="trour-page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Tour</h2>
    </div>
    <!-- END PAGE TITLE -->                
   
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">                
    
        <div class="row">
            <div class="col-md-12">
                
                <!-- Intro.js Plugin -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-step="1" data-intro="First step of this awesome plugin" data-position="right">Intro.js</h3>
                    </div>
                    <div class="panel-body">
                        <p>Better introductions for websites and features with a step-by-step guide for your projects.</p>
                        <button onclick="introJs().start();" class="btn btn-danger" data-step="4" data-intro="Start was here... and here is the end :(" data-position="right">Start Tour</button>
                    </div>
                    <div class="panel-body">
                        
                        <div class="row">
                            <div class="col-md-6" data-step="2" data-intro="Ok, wasn't that fun?" data-position="top">
                                <h3><strong>Section</strong> One</h3>
                                <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit. Suspendisse ac sollicitudin nulla. Sed venenatis ut dolor id interdum. Nullam dapibus justo quis molestie volutpat.</p> 
                                <p>Aliquam nulla velit, consequat non nisi eu, ornare pharetra velit. <strong>Donec dapibus ipsum</strong> eu tempor gravida. Donec mattis euismod erat, quis dignissim nulla laoreet sed. Morbi quis porttitor augue.</p>                                            
                            </div>

                            <div class="col-md-6" data-step="3" data-intro="More features, more fun."  data-position="left">
                                <h4><strong>Section</strong> Two</h4>
                                <p>Duis vitae iaculis sapien. Duis et finibus felis. Donec porttitor facilisis lacus, et tempus est volutpat eget. Quisque arcu tortor, condimentum sit amet mi at, fermentum sollicitudin nibh.</p>
                                <p>Sed ullamcorper non est vitae blandit. Integer blandit justo vitae mauris ultrices, eu cursus tortor iaculis. Donec sit amet dui erat. Aenean eget blandit leo. Ut in luctus felis, in placerat lacus.</p>
                            </div>
                        </div>                                    

                    </div>                           
                </div>                        
                <!-- END Intro.js Plugin -->
                
                <!-- Bootstrap Tour Plugin -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bootstrap-tour.js</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <p>This tour plugin based on Bootstrap, and using as default Bootstrap Popover. Also this plugin can be used without Bootstrap.</p>
                                <button class="btn btn-danger start-tour push-down-10">Start Tour</button>                                        
                            </div>
                            <div class="col-md-4" id="tour-content-1">
                                <h4>Heading h4</h4>
                                <p><strong>In quis tincidunt sem</strong>. Vestibulum risus quam, bibendum et eleifend eget, finibus vel felis. Nam viverra est neque. Suspendisse eget mauris non quam venenatis porta non a eros. Donec posuere, lorem ut commodo elementum, lectus erat maximus massa, <strong>vitae vehicula arcu</strong> lectus ac dolor.</p>
                            </div>
                            <div class="col-md-4" id="tour-content-2">
                                <h4>Heading h4</h4>
                                <p>Vivamus ac rhoncus felis. Phasellus tincidunt consectetur dapibus. <strong>Nulla at tortor sed lectus lacinia vehicula</strong>. Phasellus non ex quis purus facilisis viverra et vitae ex. <strong>Ut tempor condimentum blandit</strong>.</p>
                            </div>
                        </div>

                    </div>                           
                </div>
                <!-- END Bootstrap Tour Plugin -->
            </div>                        
        </div>
    
    </div>
        

{% endblock content %}

{% block imports %}

<script>
    $(function(){
        var tour = new Tour({
            debug: true,
            storage: false,                
            steps: [
            {
              element: "#tour-sidebar",
              title: "Sidebar Navigation",
              content: "It's very powerful tool in template. It has many options and features.",
              placement: "right"
            },
            {
              element: "#tour-top-navigation",
              title: "Top Navigation",
              content: "Used as panel, but it also can be used as navigation with drop-down menu",
              placement: "bottom"
            },
            {
              element: "#tour-content-1",
              title: "Content Example",
              content: "Sample of left direction of popover block",
              placement: "left"
            },
            {
              element: "#tour-content-2",
              title: "Content Example 2",
              content: "Sample of top direction of popover block",
              placement: "top"
            }
          ]});              
          //tour1.init();      
          $(".start-tour").on("click",function(){
              tour.start();
          });
    });
    
</script>

{% endblock imports %}